requirements:
- python 3.6.7
- flask
- opencv-python
- mtcnn
- imutils
- keras
- numpy
- Flask_WTF
- Flask-Login
- tensorflow
- pytz
- datetime
- pillow
- pathlib
- os-win
- python-math
- sqlalchemy
- thread6
- flask_bcrypt
- email_validator