{% extends "layout.html" %}
{% block content %}
  <h1>Daftar Absensi</h1>
  <br>
  {% for presence in presences %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + presence.presencing.image_file) }}">
          <!-- <a class="mr-2" href="#">{{ presence.user_id }}</a> -->
          <a class="mr-2" href="#">{{ presence.presencing.username }}</a>
          <small class="text-muted">Waktu Absensi: {{ presence.date }}</small>
        </div>
      </div>
    </article>
  {% endfor %}
{% endblock content %}